<% if @employees.any? %>
  $('ul.employees').html('<%= j render partial: 'employee', collection: @employees %>')
<% else %>
  $('ul.employees').html("<li>No employee found within 20 km</li>")
<% end %>
