<% if @search.nil? %>
  $('ul.employees').html("<li>The address wasn't found</li>")
<% elsif @employees.none? %>
  $('ul.employees').html("<li>No employees were found within 20 km</li>")
<% else %>
  $('ul.employees').html('<%= j render partial: 'employee', collection: @employees %>')
  map.fitBounds(<%= @bounds %>)
  L.marker(<%= @search.coordinates %>)
    .bindPopup('<%= @search.address %>')
    .addTo(map).openPopup()
<% end %>
